@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    --spacing: 0.1rem;
    --max-width: 1200px;
    --nav-color-main: rgba(32, 13, 143, 0.829);
    --nav-color-main-2: rgb(54, 36, 160);
    --nav-color-links: rgb(156, 145, 243);

    /* fonts */
    --font-zen: "Zen Dots", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}

/* GLOBAL CLASSES */

.page {
    background: var(--nav-color-main-2);
    min-height: calc(100vh - 4rem);
}

.section {
    margin-top: 4rem;
    padding: 1rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}
